language: node_js
node_js:
  - 12
  - 11
  - 10

cache:
  directories:
    - ~/.npm

notifications:
  email: false

env:
  NODE_ENV: test

branches:
  only:
    - master
    - next
    - dependabot/*
  except:
    # prevent semantic-release pushed tags, to trigger CI
    - /^v\d+\.\d+\.\d+$/

install: npm install

script:
  - npm run clean
  - npm run lint
  - npm run test
# before_deploy:
#   - npm i -g semantic-release
#   - npm i -g @semantic-release/commit-analyzer @semantic-release/release-notes-generator @semantic-release/changelog @semantic-release/npm @semantic-release/git @semantic-release/github

# deploy:
#   provider: script
#   skip_cleanup: true
#   script: npx semantic-release
#   on:
#     branch: next
#     condition: TRAVIS_PULL_REQUEST != false
