version: 2
jobs:
  test:
    docker:
      - image: circleci/node:12.9.0
    steps:
      - checkout
      - run:
          name: Setup
          command: npm install
      - run:
          name: Test
          command: npm run test
  semantic_release:
    docker:
      - image: circleci/node:12.9.0
    steps:
      - checkout
      - run:
          name: Setup
          command: npm install
      - run:
          name: run 'semantic-release'
          command: npx semantic-release

workflows:
  version: 2
  lint_and_release:
    jobs:
      - test
      - semantic_release:
          requires:
            - test
          filters:
            branches:
              only: next
